
@keyframes slideInFromLeft {
  0% {
    transform: scale(4.0, 4.0);
  }
  100% {
    transform: scale(1.0, 1.0);
  }
}

  .Top {
    width: 100%;
    height: 35px;
    background-color: whitesmoke;
    justify-content: center;
    align-items: center;
    margin: 0px;
    transition: height .4s ease-in-out;
    position: absolute;
    z-index: 10;
    animation: 1s ease-in-out 0s 1 slideInFromLeft;
  }

.renderh {
  width: 100%;
  height: 80vh;
  background-color: whitesmoke;
  animation: prid 1.4s forwards;
  margin-top: 0px;
  position: absolute;
}

@-webkit-keyframes prid {
  100% { margin-top: -1000px; }
}

@keyframes prid {
  100% { margin-top: -1000px; }
}


.eewas {
  width: 100%;
  height: 5vh;
  margin-top: 10px;
}

.tttext {
    font-size: 12px;
    color: #0bd3d3;
    transition: margin-top .2s ease-in-out;
    text-decoration: none;
    border: none;
    background-color: transparent;
    z-index: 0;
  }

.menutop {
    width: 100%;
    height: 80vh;
    background-color: whitesmoke;
    justify-content: center;
    align-items: center;
    margin: 0px;
    transition: height .2s ease-in-out;
    position: absolute;
    z-index: 5;

}

.menuleftz{
width: 30vw;
min-height: 100vh;
background-color: whitesmoke;
float: left;
margin: 0px;
display: flex;
justify-content: center;
align-items: center;
transition: width .2s ease-in-out;
vertical-align: top;
display: absolute;
transition: .2s ease-in-out;
z-index: 5;
}

.bl123 {
    
}